# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
intermediate/
obj/
ipch/
*.dll
*.suo
*.opensdf
*.sdf
*.obj
*.exe
*.exe_cv
*.pdb
*.map
Cache/

